/* font-family: 'Amatic SC', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Gotu', sans-serif;
font-family: 'Poppins', sans-serif; */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background: url(ressources/img_bg_ss.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: right bottom;
    font-family: 'Give You Glory', cursive;
    font-family: 'Gotu', sans-serif;
    color: #2F4F4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }

a:hover, a:link, a:active, a:visited {
    color:#2F4F4F
}


header {
    width: 100%;
}

.btn {
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 200;
}

.container-jaune {
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #FFF5CC;
    padding: 10px;
    height: 65px;
    z-index: 100;
    position: fixed;
    
}

.titre {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 4px
}

.ligne {
    width: 25px;
    height: 3.5px;
    border-radius: 5px;
    background: #2F4F4F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
}

.ligne::before {
    content: '';
    position: absolute;
    bottom: 10px;
    background: #2F4F4F;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.ligne::after {
    content: '';
    position: absolute;
    top: 10px;
    background: #2F4F4F;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.btn.active .ligne::before {
    transform: translateY(10px) rotate(-45deg);
}
.btn.active .ligne {
    background: transparent;
}
.btn.active .ligne::after {
    transform: translateY(-10px) rotate(45deg);
}

.btn.active .titre {
    display: none;
}

nav {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    background: #d9edb3;
    left: -100%;
    top: 0;
    transition: left 0.25s ease-out;
}

.titre {
    text-align: center;
}

.liste {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    list-style-type: none;
    
}


.items-accordeon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 22px;
    cursor: pointer;
}

.items-accordeon span {
    position: relative;
}

.items-accordeon span::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 50%;
    margin-top: 5px;
    background: #2F4F4F;
    height: 1.6px;
    opacity: 0.7;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.items-accordeon span:hover::after {
    width: 0%;
}

.items-accordeon span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 50%;
    margin-top: 5px;
    background:#2F4F4F;
    height: 1.6px;
    opacity: 0.7;
    border-radius: 2px;
    transition: all 0.2s ease-out;
}

.items-accordeon span:hover::before {
    width: 0%;
}

.tampon-liste {
   width: 200px;
   margin: 0 auto;
}

.visible {
    padding-top: 20px;
    left: 0px;
    bottom: 65px;
    z-index: -10;
}

.container-vert {
    width: 100%;
    background-color: #D9EDB3;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    padding-left: 10px;
    top: 65px;
    display: none;
}

.items-barre  {
    height: 100%;
    line-height: 50px;
    padding: 3px 15px 10px 10px;
    margin-right: 10px;
    font-size: 1.6rem;
    color:#2F4F4F;
    font-family: 'Gotu';
    text-transform: uppercase;
    cursor: pointer;
}

.items-barre::after {
    content: '';
    display: block;
    width: 0%;
    height: 1.3px;
    border-radius: 5px;
    background: #2F4F4F;
    margin: -15px auto 0 auto;
    transition: width 0.2s ease-in-out;
}
.items-barre:hover::after {
    width: 100%;
} 

.tampon {
    width: 180px;
}

.binouze_girl {
    width: 200px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 75px;
}

.illustration.hidden {
    display: none; 
}

.texte-intro {
    color:#FFF5CC ;
    text-shadow: 1px 2px 6px rgba(255,245,204,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texte-intro > h1 {
    font-family: 'Gotu', 'arial', sans-serif;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin: 0px 20px;
    /* z-index: 10000; */
    position: absolute;
    bottom: 0px;
 } 


.texte-intro > p {
    font-family: 'Give You Glory', cursive;
    font-size: 2.2rem;
    margin-top: 10px;
   
}

.cta {
   width:70px;
   padding-top: 30px;
   cursor: pointer;
}

.cta:hover {
    padding-top: 25px;
    width: 75px;
}

.texte-intro.hidden {
    display: none; 
}

/* Début des media queries */


@media (min-width: 650px) {



    .texte-intro {
        margin-left: 20px;
        margin-right: 20px;
    }

    .texte-intro > h1 {
        font-size: 3rem;                
    }

    .texte-intro > p {
        font-size: 3rem; 
    }

   
}

@media (max-width: 650px) {

    .texte-intro > p,.cta {
        display: none;
    }

    .texte-intro > h1 {
        font-size: 3rem;;
    }

    }




@media (min-width: 551px) {
    
    .tampon { 
        visibility: hidden;
        position: absolute;
    }

    .binouze_girl {

        width: 215px;
    }
}


@media (max-width: 550px) {

    .droite {
       display: none;
    }


    .texte-intro > h1 {
       margin-bottom: 40px;
       margin-top: 0;
    }

   
}


@media (max-width: 430px) {

    .container-jaune {
        justify-content: flex-start;
   
}

.texte-intro > h1 {
    font-size: 2.8rem;

}

.tampon {

    width: 160px;
}

.binouze_girl {

    width: 190px;
}
}

@media (max-width: 400px) {

    .titre {
     margin-left: 5px;
    }

    .items-accordeon {
        font-size: 20px;
    }

}
 @media (max-width: 380px) {
    .container-jaune {
        justify-content: flex-start;
    }
    
    .titre {
        width: 220px;
        margin-left: 10px;
       }

    }

 @media (max-width: 360px) { 

    
    .titre {
     width: 200px;
    }

    .texte-intro > h1 {
        font-size: 2.4rem;

    }
     
 }

 
@media (max-width: 315px) {

    .titre {
        width: 190px;
        margin-left: 5px;
       } 
    .container-jaune {
        padding: 10px 0px 10px 5px;
        margin: 0;
    }

    .btn {
        right: 0;
    }

    .texte-intro > h1 {
        font-size: 2.2rem;

    }

    }

 @media (max-width: 287px) {

    .titre {
        width: 170px;
    } 

    .texte-intro > h1 {
        font-size: 2.1rem;

    }
 }

 @media (max-width: 265px) {

    .titre {
        width: 140px;
    } 
 } 

 @media (min-width: 880px) {

    body {
        background-image: url(ressources/img_bg_bs.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        align-items: flex-start;

    }
   
    .btn {
       display: none;
    }

    .container-vert {
        display: flex;
    }
    .tampon {
    
        visibility: visible;
        position: relative;   
        margin-left: 60px;
     
     }

     
    .illustration {
        flex-direction: row-reverse;
    }

    /* .container-vert {
        background-color: #D9EDB3;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap:nowrap;
        align-items: center;
        position: relative;
        transition: all 0.5s ease-in-out;
        padding-left: 10px;
    }

    .items-barre  {
        height: 100%;
        line-height: 50px;
        padding: 3px 15px 10px 10px;
        margin-right: 10px;
        font-family: 'Gotu';
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .items-barre::after {
        content: '';
        display: block;
        width: 0%;
        height: 1.3px;
        border-radius: 5px;
        background: #4C4C4C;
        margin: -15px auto 0 auto;
        transition: width 0.2s ease-in-out;
    }
    .items-barre:hover::after {
        width: 100%;
    } */

    
  
}
